@import "../../styles/variables";

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    label {
        font-family: "Product Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $bg-grey-color;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .dropdown {
        width: 100%;
        label {
            font-size: 14px;
            line-height: 14px;
        }
        select {
            font-size: 14px;
            line-height: 14px;
        }
    }
}
