.input__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    // Label styles
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    text-transform: uppercase;

    color: #131315;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
