.event__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    gap: 1rem;

    .event__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;

        .input {
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            gap: 10px;

            .input {
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                &__icon {
                    width: 15%;
                    height: 46px;
                    background: #7848f4;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;

            span {
                color: #7848f4;
            }
        }
    }

    div {
        width: 100%;
        .event__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
            align-items: center;
            width: 100%;

            button {
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                gap: 10px;
                background: #7848f4;
                border-radius: 5px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #ffffff;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }

    .event__list__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #131315;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #131315;
        }
    }
}

@media only screen and (max-width: 768px) {
    .event__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 2% 5%;

        .event__header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .input {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                input {
                    width: 100%;
                }

                .input__icon {
                    width: 100%;
                }
            }
        }

        .event__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
        }
    }
}
