.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40%;
        height: 100%;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: fill;
            filter: grayscale(0.5);
        }

        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;

                display: flex;
                align-items: center;
                text-align: center;

                color: #ffffff;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #ffffff;
            }

            button {
                padding: 15px 40px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 60%;
        height: 100%;

        background: #f8f8fa;

        .right__container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0% 10%;
            gap: 1rem;
            .logo {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #131315;
                span {
                    color: #7848f4;
                }
            }
            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 44px;

                display: flex;
                align-items: center;
                text-align: center;

                color: #131315;
            }

            .error {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;

                color: red;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;

                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 40px;
                    gap: 10px;
                    background: #7848f4;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #ffffff;
                    cursor: pointer;
                    border: none;
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #9e9e9e;
            }

            .google__button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                gap: 10px;
                background: #ffffff;
                border-radius: 5px;

                border: 1px solid #e0e0e9;
                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #131315;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .signup {
        .left {
            display: none;
        }
        .right {
            width: 100%;
        }
    }
}
