.college__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    gap: 1rem;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;

        h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;

            span {
                color: #7848f4;
            }
        }

        &__search {
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .input__icon {
                width: 15%;
                height: 46px;
                background: #7848f4;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }

    &__body {
        width: 100%;
        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
            align-items: center;
            width: 100%;

            &__empty {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    color: #131315;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #131315;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .college__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 2% 5%;

        &__header {
            flex-direction: column;
            height: 200px;

            h2 {
                font-size: 24px;
                line-height: 29px;
            }

            &__search {
                width: 100%;
                flex-direction: column;
                gap: 20px;

                .input__icon {
                    width: 100%;
                    height: 46px;
                }

                input {
                    width: 100%;
                }
            }
        }

        &__body {
            &__list {
                gap: 20px;

                button {
                    padding: 10px 20px;
                    gap: 5px;
                }
            }
        }
    }
}
