@import "./variables.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Product Sans", sans-serif;
    background-color: $bg-grey-color;
}
