@import "./Variables.scss";
@import "./App.scss";

@import "./home//Home.scss";

@import "./auth/Signin.scss";
@import "./auth/Signup.scss";

@import "./colleges/Colleges.scss";
@import "./colleges/College.scss";

@import "./events/Events.scss";
@import "./events/Event.scss";

@import "./components/Input.scss";
@import "./components/Spinner.scss";
@import "./components/NavigationBar.scss";
@import "./components/Footer.scss";
@import "./components/Header.scss";
@import "./components/Dropdown.scss";
@import "./components/CollegeCard.scss";
@import "./components/EventCard.scss";
@import "./components/Register.scss";

@import "./container/EventContainer.scss";
@import "./container/CollegeContainer.scss";
@import "./container/DropdownContainer.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Product Sans", sans-serif;
    background-color: $bg-grey-color;
}
