:root {
    --fc-small-font-size: 0.85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: #7848f4;
    --fc-neutral-text-color: #7848f4;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #7848f4;
    --fc-button-hover-bg-color: #7848f4;
    --fc-button-hover-border-color: #7848f4;
    --fc-button-active-bg-color: #7848f4;
    --fc-button-active-border-color: #7848f4;

    --fc-event-bg-color: #7848f4;
    --fc-event-border-color: #7848f4;
    --fc-event-text-color: #fff;

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;

    --fc-non-business-color: #7848f4;
    --fc-bg-event-color: #eeeaf6;
    --fc-bg-event-opacity: #7848f4;
    --fc-highlight-color: #7848f4;
    --fc-today-bg-color: #f3f2f7;
    --fc-now-indicator-color: #e6e3ee;
}

.calendar-container {
    margin: auto;

    .fc-today {
        background-color: #7848f4;
    }

    .fc-toolbar-chunk {
        margin: 0;
        padding: 0;
    }

    .fc-toolbar-chunk:first-child {
        margin-right: auto;
    }

    .fc-toolbar-chunk:last-child {
        margin-left: auto;
    }

    .fc-toolbar-title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .fc-button {
        background-color: #7848f4;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
    }

    .fc-button:hover {
        background-color: #5e3bd1;
    }

    .fc-button:active {
        background-color: #4a2ca6;
    }

    .fc-button:focus {
        outline: none;
    }

    .fc-button-primary {
        background-color: #7848f4;
        color: white;
    }

    .fc-button-primary:hover {
        background-color: #5e3bd1;
    }

    .fc-button-primary:active {
        background-color: #4a2ca6;
    }

    .fc-button-primary:focus {
        outline: none;
    }

    > div {
        width: 100%;
        padding: 2rem 2rem;
        background-color: #fff;
        border-radius: 10px;

        table {
            border-collapse: collapse;
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 1px solid #ddd;

            th,
            td {
                padding: 0.5rem;
                border: 1px solid #ddd;
                color: black;
            }

            td.fc-event-selected {
                border: 2px;
            }
        }

        .fc-event {
            background-color: #7848f4;
            color: white;
            padding: 10px 10px;
        }
    }
}
