.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2%;

        img {
            width: 100%;
            height: 100vh;
            border-radius: 10px;
            object-fit: cover;
        }

        &__detail {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2% 10%;
            width: 100%;
            gap: 10%;

            &__content {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1.5rem;

                &__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    gap: 5px;
                    height: 40px;

                    background: #7848f4;

                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
                    border-radius: 5px;

                    img {
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #ffffff;
                    }
                }
                &__title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    display: flex;
                    align-items: center;

                    color: #ffffff;
                }
                &__college {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #ffffff;
                }
                &__description {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }
                &__location {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;

                        display: flex;
                        align-items: center;
                        color: #ffffff;
                    }
                }
            }

            &__register {
                width: 50%;
            }
        }
    }

    &__body {
        &__l {
            &__description {
            }
            &__hours {
            }
            &__contact {
            }
        }
        &__r {
            &__location {
                &__map {
                }
            }
            &__tags {
                &__tag {
                }
            }
            &__socials {
            }
        }
    }

    &__similar {
        width: 100%;
    }
}
