.board-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.react-kanban-board {
    color: white;
}

.react-kanban-board>:nth-child(1) {
    width: 100%;
    /* background-color: #7848F4; */
}

.react-kanban-board>:nth-child(1)>div {
    width: 24%;
    margin: 0px 0.5%;
}

.react-kanban-column {
    background-color: #fff;
    border-radius: 10px;
}

.react-kanban-column .column-header span {
    color: #000;
}

.react-kanban-column .column-header svg {
    color: #000;
}

.react-kanban-column>:nth-child(2)>div>div {
    width: 100%;
}

.kanban-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    margin-top: 1.2rem;
    border-radius: 5px;
}

.kanban-card>:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
}

.column-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}

.column-header>svg {
    cursor: pointer
}