@import "../../../styles/variables.scss";

.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 2% 5%;
    gap: 20px;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        &__name {
        }

        &__input {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            &__icon {
                width: 15%;
                height: 46px;
                background: $primary-color;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}
