.events {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 2% 5%;
    gap: 20px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;

        &__name {
        }

        &__input {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            &__icon {
                width: 15%;
                height: 46px;
                background: #7848f4;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .events {
        &__landing {
            div {
                img {
                    display: none;
                }
            }

            &__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;

                &__title {
                    font-size: 2rem;
                }
            }
        }
    }
}
