.college {
    &__image {
        padding: 0% 2%;
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        &__button {
            left: 4%;
            top: 4%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            gap: 5px;

            width: fit-content;

            position: absolute;

            background: #7848f4;

            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
            border-radius: 5px;

            img {
                width: 20px;
                height: 20px;
            }

            p {
                font-family: "Product Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
            }
        }
    }

    &__content {
        padding: 2% 5%;

        &__title {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            display: flex;
            align-items: center;
        }

        &__description {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #7e7e7e;
        }
    }

    &__events {
        padding: 2% 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        &__title {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
        }

        &__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }
}
