.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 28rem;
    gap: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
    }

    .event__image {
        img {
            height: 15rem;
            width: 100%;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }
    }

    .event__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        padding: 0 1rem;

        .event__description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #131315;
            margin-bottom: 0.5rem;
        }

        .event__title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #131315;
            margin-bottom: 0.5rem;
        }

        .event__dt {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            .event__date {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #7848f4;
                margin-right: 1rem;
            }

            .event__time {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                padding: 0.5rem;
                color: #fff;
                border-radius: 5px;
                background: #7848f4;
            }
        }

        .event__location {
            font-size: 1.2rem;
            font-weight: 500;
            color: #131315;
        }
    }
}
