.footer {
    width: 100%;
    background-color: #10107b;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    gap: 1rem;

    &__logo {
        h1 {
            color: #ffffff;
            font-weight: 700;
            font-size: 40px;
            span {
                color: #7848f4;
            }
        }
    }
    &__mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__input {
            height: 50px;
            width: 290px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            gap: 10px;
            background: #ffffff;
            border-radius: 5px;
            outline: none;
            border: none;
            &::placeholder {
                color: #687c94;
            }
        }
        &__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;
            gap: 10px;
            background: #7848f4;
            border-radius: 5px;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #ffffff;

            outline: none;
            border: none;
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        gap: 1rem;
        p {
            color: #ffffff;
        }
    }
    &__line {
        width: 100%;
        height: 1px;
        background: #ffffff;
    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__language {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 40px;
                gap: 10px;

                background: #7848f4;
                border-radius: 5px;

                color: #ffffff;
                outline: none;
                border: none;
            }
        }
        &__social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        &__copyright {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 1rem 1rem;
        &__logo {
            h1 {
                font-size: 30px;
            }
        }
        &__mail {
            flex-direction: column;
            gap: 1rem;
            &__input {
                width: 100%;
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 0.5rem;
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            &__language {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 1rem;
            }
            &__social {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 1rem;
            }
        }
    }
}
