.ad {
    margin-top: 3rem;

    width: 100%;
    color: white;

    background-color: #10107b;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .ad__img {
        padding-top: 2rem;
    }

    .ad__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        button {
            padding: 1rem;
            border-radius: 5px;
            color: white;
            background-color: #7848f4;
        }
    }
}

@media screen and (max-width: 768px) {
    .ad {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0;

        .ad__img {
            img {
                height: 200px;
                width: 350px;
            }
        }

        .ad__text {
            align-items: center;
            gap: 0.5rem;
        }
    }
}
