.create__event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        margin: 2rem;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        label {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            width: 100%;
            line-height: 19px;
            display: flex;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            cursor: pointer;

            input {
                width: 100%;
            }

            textarea {
                height: 7rem;
                font-size: 12px;
                line-height: 15px;

                width: 100%;
                background: #ffffff;
                border-radius: 5px;
                padding: 10px;
                box-sizing: border-box;

                outline: none;
                border: none;

                &::placeholder {
                    color: #687c94;
                }

                &:focus {
                    color: #7848f4;
                    outline: 0.5px solid #7848f4;
                }
            }

            select {
                border: none;
                background-color: white;
                border-right: 15px solid transparent;
                color: #687c94;
            }
        }

        .logo__img {
            div {
                width: 15%;
                height: 7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 0.2rem;
            }

            input {
                display: none;
            }
        }

        .banner__img {
            div {
                width: 100%;
                height: 7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 0.2rem;
            }

            input {
                display: none;
            }
        }

        button {
            color: white;
            padding: 1rem 0;
            border-radius: 5px;
            background-color: #7848f4;
        }
    }
}
