.navigation__bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;

    .left {
        h1 {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 49px;

            display: flex;
            align-items: center;

            color: $black-color;

            span {
                color: $primary-color;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        p {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: $black-color;

            span {
                color: $primary-color;
                padding-left: 5px;
            }
        }

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;
            gap: 10px;

            background: $primary-color;
            border-radius: 5px;
            color: $white-color;
            border: none;

            font-family: "Product Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation__bar {
        padding: 40px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 2% 5%;

        .left {
            h1 {
                font-size: 30px;
                line-height: 39px;
            }
        }

        .right {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            button {
                display: none !important;
            }
        }
    }
}
