.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__button {
    button {
        margin: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 40px;
        gap: 10px;
        background: #7848f4;
        border-radius: 5px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
